.username-selector {
  margin-top: 200px;
  label {
    display: block;
    margin-bottom: 7px;
  }
  .text-input {
    margin-bottom: 20px;
    border: none;
    background-color: #eee;
    padding: 2px 5px;
  }
}