@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #222222;
}
.error {
  padding-top: 20px;
  font-size: 12px;
  color: #ff4b4b;
  .error {
    color: #ff4b4b;
  }
}
